
<div class="row">
	<div class="col-md-12 col-md-offset-2">

		<br/><br/>
		<h1>Administration</h1><br/><br/>

		<%= link_to 'Manage Job Listings', '/job/index_admin' %>
		<br/><br/>
		<%= link_to 'View Applications', '/applicant/index' %>

	</div>
</div>